<!DOCTYPE html>
<html lang="en"<%= -> o { o ? " manifest='#{o}'" : '' }[current_page.data.offline] %>>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>notes.spacet.me</title>

  <%= stylesheet_link_tag "vendor/codemirror" %>
  <%= stylesheet_link_tag "style" %>

</head>
<body>

  <%= yield %>
  
</body>
</html>
