<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>notes.spacet.me</title>

  <%= stylesheet_link_tag "vendor/codemirror" %>
  <%= stylesheet_link_tag "style" %>

</head>
<body>

  <%= yield %>
  
</body>
</html>
